body {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.0;
    background-color: white;
    font-size: 110%;
    margin: 0%;
}
header {
	display: flex;
	flex-direction: column;
	height: 90vh;
	background-color: #A2DBDB;
	box-shadow: -3px 4px 5px 3px #A2CEDB;
	align-items: center;
	justify-content: center;
	margin-bottom: 3%;
}
header a {
	margin: 15px;
	text-decoration: none;  
	color: white;
	text-transform: lowercase;
}
.titleHeader {
	position: relative;
    text-transform: uppercase;
    font-family: consolas;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	color: transparent;
}
.titleHeader::before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	overflow: hidden;
	border-right: 1px solid #000;
	/*Start animation and set the time*/animation: type 10s steps(23) infinite;
	white-space: nowrap;
}
/*Make an adventure to happen*/
@keyframes type {
	0% {
	    width: 0%
	}
	50% {
	    width: 103%
	}
	100% {
	    width: 0%
	}
}
p a{
    text-decoration: none;
}
.about {
    display: flex;
    flex-direction: row;
    position: relative;
}
.textBox {
    flex: 1;
    margin: 0.8%;
    /*opacity: 1;*/
    padding: 1%;
    box-shadow: -4px 8px 24px rgba(0,0,0,.4);
    text-align: justify;
}
.email {
    display: flex;
    flex-direction: column;
    /*font-family: 'Courier New', Courier, monospace;*/
    line-height: 20px;
}
.button {
    background-color:  #A2CEDB;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 1%;
    float: right; 
}
.button:hover{
    background-color: #99C2CF;
}
footer {
    height: 150px;
    background-color: #A2CEDB;
    box-shadow: 3px -4px 5px 3px #A2CEDB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.blog {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 26px;
    margin-left: 1%;
}
.blog h3 {
    margin-bottom: 0px;
}
.blog a {
    text-decoration: none;
    color: white;
}
.picture_footer{
    display: flex;
    margin-right: 3%;
    margin-top: 1%;
    flex-direction: column;
}
.img_footer{
    margin-top: 10%;
    height: 40px;
}
.copy{
    text-align: center;
    background-color: #99C2CF;
    box-shadow: 3px -4px 5px 3px #99C2CF;
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    text-decoration: underline;
}
.imgportfolio{
    display: inline-block;
    height: 199px;
    margin: 3px;
}
/*Fim portfolio*/

/*Responsive*/
@media only screen and (min-width:600px) and (max-width:800px){
    body {
        font-size: 90%;
    }
    header {
        height: 70vh;
    }
    .textBox{
        width: 100%;
        float: none;
    }
    .imgportfolio{
        height: 180px;
    }
}
@media only screen and (max-width:600px){
    body, h1, p {
        font-size: 90%;
    }
    header {
        height: 55vh;
        margin-bottom: 5%;
    }
    .about{
        display: inline;
    }
    .textBox{
        width: 92%;
        float: none;
        margin: 3%;
    }
    .button{
        padding: 8px 13px;
        font-size: 12px;
        float: none;
    }
    .email{
        line-height: 10px;
        display: inline-flex;
    }
    footer{
        height: 120px;
        margin-top: 5%;
    }
    .imgportfolio{
        height: 100px;
    } 
}